<header>
    <div id="topbar">
        <div id="topbar-cont">
            <div id="lang-cont">
                <a class="topbar-link" (click)="changeLanguage('jp')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Zm0-82q26-36 45-75t31-83H404q12 44 31 83t45 75Zm-104-16q-18-33-31.5-68.5T322-320H204q29 50 72.5 87t99.5 55Zm208 0q56-18 99.5-55t72.5-87H638q-9 38-22.5 73.5T584-178ZM170-400h136q-3-20-4.5-39.5T300-480q0-21 1.5-40.5T306-560H170q-5 20-7.5 39.5T160-480q0 21 2.5 40.5T170-400Zm216 0h188q3-20 4.5-39.5T580-480q0-21-1.5-40.5T574-560H386q-3 20-4.5 39.5T380-480q0 21 1.5 40.5T386-400Zm268 0h136q5-20 7.5-39.5T800-480q0-21-2.5-40.5T790-560H654q3 20 4.5 39.5T660-480q0 21-1.5 40.5T654-400Zm-16-240h118q-29-50-72.5-87T584-782q18 33 31.5 68.5T638-640Zm-234 0h152q-12-44-31-83t-45-75q-26 36-45 75t-31 83Zm-200 0h118q9-38 22.5-73.5T376-782q-56 18-99.5 55T204-640Z"/></svg>
                    <span>JP<span>日本語</span></span>
                </a>
            </div>
            <div id="offer-cont">
                <a class="topbar-link" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-160q-50 0-85-35t-35-85H40v-440q0-33 23.5-56.5T120-800h560v160h120l120 160v200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H360q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T280-280q0-17-11.5-28.5T240-320q-17 0-28.5 11.5T200-280q0 17 11.5 28.5T240-240ZM120-360h32q17-18 39-29t49-11q27 0 49 11t39 29h272v-360H120v360Zm600 120q17 0 28.5-11.5T760-280q0-17-11.5-28.5T720-320q-17 0-28.5 11.5T680-280q0 17 11.5 28.5T720-240Zm-40-200h170l-90-120h-80v120ZM360-540Z"/></svg>
                    <span>Recibe tu pedido a domicilio GRATIS*</span>
                </a>
            </div>
            <div id="selector-cont">
                <div id="code-selec">
                    <a class="topbar-link" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-160q-50 0-85-35t-35-85H40v-440q0-33 23.5-56.5T120-800h560v160h120l120 160v200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H360q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T280-280q0-17-11.5-28.5T240-320q-17 0-28.5 11.5T200-280q0 17 11.5 28.5T240-240ZM120-360h32q17-18 39-29t49-11q27 0 49 11t39 29h272v-360H120v360Zm600 120q17 0 28.5-11.5T760-280q0-17-11.5-28.5T720-320q-17 0-28.5 11.5T680-280q0 17 11.5 28.5T720-240Zm-40-200h170l-90-120h-80v120ZM360-540Z"/></svg>
                        <span>Introduce el C.P.</span>
                    </a>
                </div>
                <div id="shop-selec">
                    <a class="topbar-link" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M160-720v-80h640v80H160Zm0 560v-240h-40v-80l40-200h640l40 200v80h-40v240h-80v-240H560v240H160Zm80-80h240v-160H240v160Zm-38-240h556-556Zm0 0h556l-24-120H226l-24 120Z"/></svg>
                        <span>Seleccionar tienda</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="navigation">
        <div id="logo">
            <a id="logo-link" (click)="goToHome()">
                <img src="../../assets/images/logo.png" alt="">
            </a>
        </div>
        <div id="searchbar">
            <div id="bar-cont">
                <form action="">
                    <svg id="glass" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                    <input type="text" placeholder="¿Qué es lo que buscas?">
                </form>
            </div>
        </div>
        <ul id="extras">
            <li id="user">
                <a class="login" (click)="goToLogin()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                    <span>Hola! Inicia sesión</span>
                </a>
            </li>
            <li id="favs">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg>
                </a>
            </li>
            <li id="cart">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M221-120q-27 0-48-16.5T144-179L42-549q-5-19 6.5-35T80-600h190l176-262q5-8 14-13t19-5q10 0 19 5t14 13l176 262h192q20 0 31.5 16t6.5 35L816-179q-8 26-29 42.5T739-120H221Zm-1-80h520l88-320H132l88 320Zm260-80q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM367-600h225L479-768 367-600Zm113 240Z"/></svg>
                </a>
            </li>
            <li id="menu">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
                </a>
            </li>
        </ul>
    </div>

    <div id="header-menu">
        <div id="menu-selec">
            <div id="menu-btns">
                <button class="menu-btn" id="m-1" (click)="setActive('m-1')" [ngClass]="{'active': activeButton === 'm-1'}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#767676"><path d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z"/></svg>
                    <span>Productos</span>
                </button>
                <button class="menu-btn" id="m-2" (click)="setActive('m-2')" [ngClass]="{'active': activeButton === 'm-2'}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#767676"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                    <span>Estancias</span>
                </button>
                <button class="menu-btn" id="m-3" (click)="setActive('m-3')" [ngClass]="{'active': activeButton === 'm-3'}">
                    <span>Ahora en MOBLE</span>
                </button>
                <button class="menu-btn" id="m-4" (click)="setActive('m-4')" [ngClass]="{'active': activeButton === 'm-4'}">
                    <span>Precios Especiales</span>
                </button>
                <button class="menu-btn" id="m-5" (click)="setActive('m-5')" [ngClass]="{'active': activeButton === 'm-5'}">
                    <span>Inspiración y planificación</span>
                </button>
                <button class="menu-btn" id="m-6" (click)="setActive('m-6')" [ngClass]="{'active': activeButton === 'm-6'}">
                    <span>Servicios</span>
                </button>
            </div>
            <div id="separator"></div>
        </div>
        <div id="menu-classes">
            <div class="prod-disp" *ngIf="activeButton === 'm-1'" id="p-1">
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/novedades.png" alt="">
                        <span>Novedades</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/almacenaje.png" alt="">
                        <span>Almacenaje y organización</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/camas.png" alt="">
                        <span>Camas y colchones</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/textiles.png" alt="">
                        <span>Textiles del hogar</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/muebles.png" alt="">
                        <span>Muebles</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/bebes.png" alt="">
                        <span>Bebés, niños y niñas</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/decoracion.png" alt="">
                        <span>Decoración y espejos</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/iluminacion.png" alt="">
                        <span>Iluminación</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/cocina.png" alt="">
                        <span>Cocina y electrodomésticos</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/lavabo.png" alt="">
                        <span>Muebles de baño y accesorios</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/colada.png" alt="">
                        <span>Colada y limpieza</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/plantas.png" alt="">
                        <span>Macetas, plantas y jardinería</span>
                    </a>
                </div>
            </div>
            <div class="prod-disp" *ngIf="activeButton === 'm-2'" id="p-2">
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/dormitorio.png" alt="">
                        <span>Dormitorio</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/juvenil.png" alt="">
                        <span>Habitación infantil y juvenil</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/salon.png" alt="">
                        <span>Salón</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/comedor.png" alt="">
                        <span>Comedor</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/cocina2.png" alt="">
                        <span>Cocina</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/banyo.png" alt="">
                        <span>Baño</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/recibidor.png" alt="">
                        <span>Recibidor</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/trabajo.png" alt="">
                        <span>Espacios de trabajo y estudio</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/terraza.png" alt="">
                        <span>Jardín, terraza y balcón</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/lavadero.png" alt="">
                        <span>Lavadero</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/trastero.png" alt="">
                        <span>Trastero</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/empresas.png" alt="">
                        <span>MOBLE para Empresas</span>
                    </a>
                </div>
            </div>
            <div class="prod-disp" *ngIf="activeButton === 'm-3'" id="p-3">
                <nav class="menu-nav">
                    <ul class="section">
                        <li class="section-link">
                            <a class="main-link" href="">
                                Novedades
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                MOBLE para Empresas
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                Mercado Circular
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                Comer en MOBLE
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">Novedades</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Nuevos productos
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Ideas para regalar
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                MOBLE en directo
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">Colecciones</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Colección TRES CREUS
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Más colecciones
                            </a>
                        </li>
                    </ul>
                    <a id="box-1" class="section box-message" href="">
                        <h3>Descubre la nueva colección TRES CREUS</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    </a>
                </nav>
            </div>
            <div class="prod-disp" *ngIf="activeButton === 'm-4'" id="p-4">
                <nav class="menu-nav">
                    <ul class="section">
                        <li class="section-link">
                            <a class="main-link" href="">
                                Precios Especiales
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                Hemos bajado el precio
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                Accesorios asequibles
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">Ofertas</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Ofertas MOBLE Family
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Ofertas MOBLE para Empresas
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Recompensas MOBLE Family
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">Nuestros mejores precios</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Hemos bajado el precio
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Nuestros precios más bajos
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Outlet
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">Mercado circular: segunda mano</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Comprueba muebles de segunda mano
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Vende tus muebles de segunda mano
                            </a>
                        </li>
                    </ul>
                    <a id="box-2" class="section box-message" href="">
                        <h3>Tienda de muebles de segunda mano</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    </a>
                </nav>
            </div>
            <div class="prod-disp" *ngIf="activeButton === 'm-5'" id="p-5">
                <nav class="menu-nav">
                    <ul class="section">
                        <li class="section-link">
                            <a class="main-link" href="">
                                Ideas
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                Servicio de planificación
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                Planificadores online
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">Inspiración e ideas</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Inspiración por estancias
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Inspiración para empresas
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Vida sostenible
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">Planificadores 3D</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Crea tu composición de muebles
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Diseña tu estancia completa
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Diseña espacios a tu medida con MOBLE Creative
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">Servicios de diseño</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Planificación de estancia completa
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Planificación para empresas
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Diseño de interiores para tu hogar
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Diseño de interiores para empresas
                            </a>
                        </li>
                    </ul>
                    <a id="box-3" class="section box-message" href="">
                        <h3>Diseña tu estancia con MOBLE Creative</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    </a>
                </nav>
            </div>
            <div class="prod-disp" *ngIf="activeButton === 'm-6'" id="p-6">
                <nav class="menu-nav">
                    <ul class="section">
                        <li class="section-link">
                            <a class="main-link" href="">
                                Todos nuestros servicios
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                MOBLE Home App
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                Compra y vende con MOBLE preowned
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                Pago y financiación
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">Envío y montaje</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Seguimiento de tu pedido
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Envío a domicilio
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Click & Collect
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Montaje
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">Otras formas de comprar</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Compra por teléfono
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                MOBLE App
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Mercado circular: segunda mano
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                MOBLE preowned: Compra y vende entre particulares
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">MOBLE para Empresas</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Inspiración por sectores
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Ofertas exclusivas para empresas
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Diseño de interiores para empresas
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                Servicios para empresas
                            </a>
                        </li>
                    </ul>
                    <a id="box-4" class="section box-message" href="">
                        <h3>MOBLE para Empresas: descubre las ventajas</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>