/* ------------------------------
    TOPBAR 
------------------------------ */

#topbar {
    min-height: 3rem;
    background-color: #111111;
}

#topbar-cont {
    display: flex;
    height: 3rem;
    gap: 4rem;
    padding: 0 3rem;
}

#topbar-cont > div {
    flex-grow: 1;
}

#selector-cont {
    display: flex;
    justify-content: flex-end;
    min-width: 200px;
}

#shop-selec {
    padding-inline-start: 1.5rem;
}

.topbar-link {
    display: flex;
    text-decoration: none;
    color: white;
    gap: .75rem;
    padding: .75rem 0;
    width: fit-content;
}

.topbar-link:hover {
    text-decoration: underline;
}

svg {
    height: 1.5rem;
    width: 1.5rem;
}

span {
    line-height: 1.571;
}

span > span {
    border-left: 1px solid white;
    padding-left: .5rem;
    margin-left: .5rem;
}

@media (max-width: 1200px) {
    #offer-cont {
        display: none;
    }
}

@media (max-width: 768px) {
    span {
        display: none;
    }

    #selector-cont {
        min-width: auto;
    }
}

/* ------------------------------ 
    NAVIGATION 
------------------------------ */

#navigation {
    height: 90px;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

img {
    display: block;
    height: 36px;
}

#searchbar {
    width: 70%;
}

#bar-cont {
    max-width: 600px;
    margin-left: 3rem;
}

form {
    position: relative;
    border: none;
    background-color: #f5f5f5;
    border-radius: 50em;
    height: 45px;
}

input {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border: 2px solid transparent;
    border-radius: 50em;
    padding-left: 45px;
    box-sizing: border-box;
}

input:hover {
    background-color: #dfdfdf;
}

input:focus {
    background-color: transparent;
    border: none;
}

#glass {
    display: inline-block;
    position: absolute;
    inset-inline: 1rem auto;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#extras {
    display: flex;
    justify-content: end;
    width: 30%;
    height: 36px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#extras li {
    margin-left: 1rem;
}

#user {
    width: 225px;
    height: 100%;
}

#favs, #cart, #menu {
    width: 2.5rem;
    height: 2.5rem;
}

#extras li:hover {
    border-radius: 50em;
    background-color: #dfdfdf;
}

#extras li > a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#user > a {
    color: black;
    text-decoration: none;
}

#user > a > span {
    margin-left: .5rem;
}

#menu {
    display: none;
}

@media (max-width: 1200px) {
    #user {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    #user > a > span {
        display: none;
    }

    #menu {
        display: block;
    }
}

@media (max-width: 768px) {
    #navigation {
        height: 130px;
        position: relative;
        justify-content: space-between;
    }

    #searchbar {
        width: calc(100% - 6rem);
        position: absolute;
        bottom: 0;
    }

    #bar-cont {
        margin: 0;
        max-width: none;
    }

    #extras {
        width: 90%;
    }

    #logo, #extras {
        transform: translateY(-50%);
    }
}

/* ------------------------------ 
    HEADER-MENU 
------------------------------ */

#header-menu {
    padding: 0 3rem;
}

#menu-selec {
    width: fit-content;
}

#menu-btns {
    display: flex;
    flex-wrap: nowrap;
}

.menu-btn {
    display: inline-flex;
    align-items: center;
    padding: 1rem .25rem;
    margin-inline-end: 1.5rem;
    border: none;
    border-bottom: 3px solid transparent;
    background: none;
    font-weight: 700;
    color: #767676;
    font-size: .875rem;
    cursor: pointer;
}

.menu-btn > svg {
    margin-inline-end: .5rem;
}

.menu-btn.active {
    color: #111111;
    cursor: default;
    border-bottom: 3px solid #111111;
    z-index: 10;
}

.menu-btn.active > svg {
    fill: #111111;
}

#m-6 {
    margin: 0;
}

#separator {
    border-top: 1px solid #767676;
    transform: translateY(-2px);
}

#menu-classes {
    display: flex;
    flex-direction: column;
}
  
.prod-disp {
    display: flex;
    gap: 3rem;
    padding: 1rem 0;
    justify-items: center;
    overflow-x: auto;
}
  
.prod-disp.active {
    display: grid;
}

.prod-disp::-webkit-scrollbar {
    height: 2px;
    padding: 1rem;
}

.prod-disp::-webkit-scrollbar-track {
    background-color: #dfdfdf;
    border-radius: 50em;
    cursor: pointer;
}

.prod-disp::-webkit-scrollbar-thumb {
    background-color: #111111;
    border-radius: 50em;
}

.prod-disp:hover::-webkit-scrollbar {
    height: 4px;
}

.prod-disp:hover::-webkit-scrollbar-thumb {
    cursor: grab;
}

.prod-disp:active::-webkit-scrollbar-thumb {
    cursor: grabbing;
}

.category {
    text-align: center;
    top: 0;
}

.category a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.category a:hover span {
    text-decoration: underline;
    color: #111111;
}

.category img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}
  
.category span {
    color: #333;
}

.menu-nav {
    display: flex;
}

.section {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-inline-end: 4rem;
    max-width: 280px;
}

.section > .section-link {
    margin-left: 0;
    margin-top: .75rem;
}

.section-link > a {
    color: #111111;
    text-decoration: none;
}

.main-link {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.45;
}

.link-title {
    font-weight: 700;
}

.section-link > a:hover {
    text-decoration: underline;
}

.box-message {
    margin: 0;
    height: 182px;
    width: 320px;
}

#box-1 {
    background-color: #007CC1;
}

#box-2 {
    background-color: #E01E37;
}

#box-3 {
    background-color: #FEDF02;
}

#box-4 {
    background-color: #2C6E49;
}

.box-message {
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-message:hover {
    text-decoration: underline;
}

.box-message > h3 {
    margin: 0;
}

.box-message > svg {
    border: .5rem solid white;
    border-radius: 50em;
    background-color: white;
}

@media (max-width: 1200px) {
    #header-menu {
        display: none;
    }
}