<main>
    <section id="section-1">
        <div id="cont-1">
            <a id="of-1" class="offer-link" href="#">
                <div class="offer-text">
                    <div class="offer-badge">
                        <span>Precio MOBLE Family</span>
                    </div>
                    <h2>Descuentos de hasta el 30% en productos muy top</h2>
                    <div class="arrow-overflow">
                        <div class="arrow-offer">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="img-cont">
                    <img src="../../assets/images/main/sect1-1.jpg" alt="">
                </div>
            </a>
        </div>
        <div id="cont-2">
            <a id="of-2" class="offer-link" href="#">
                <div>
                    <h2>¡MOBLE Family Days! Ofertas increíbles</h2>
                    <p>Solo por ser del club MOBLE Family</p>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                    </svg>
                </div>
            </a>
        </div>
        <div id="cont-3">
            <a id="of-3" class="offer-link" href="#">
                <div class="offer-text">
                    <div class="offer-badge">
                        <span>Precio MOBLE Family</span>
                    </div>
                    <h2>10% de descuento adicional en artículos de nuestro outlet</h2>
                    <div class="arrow-overflow">
                        <div class="arrow-offer">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="img-cont">
                    <img src="../../assets/images/main/sect1-2.jpg" alt="">
                </div>
            </a>
        </div>
        <div id="cont-4">
            <a id="of-4" class="offer-link" href="#">
                <div class="offer-text">
                    <div class="offer-badge">
                        <span>Precio MOBLE Family</span>
                    </div>
                    <h2>Véndenos tus muebles MOBLE y ¡te damos un 30% más!</h2>
                    <div class="arrow-overflow">
                        <div class="arrow-offer">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                                <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="img-cont">
                    <img src="../../assets/images/main/sect1-3.jpg" alt="">
                </div>
            </a>
        </div>
    </section>

    <section id="section-2">
        <div class="gray-sect-cont">
            <h2>Ofertas y ventajas por ser del club MOBLE Family</h2>
            <ul class="links-cont">
                <li>
                    <a class="redirection" href="">
                        <div>
                            <div>
                                <h2>Ver todas las ofertas</h2>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="offer-badge sect2">
                            Precio MOBLE Family
                        </div>
                        <div class="img-div">
                            <img src="../../assets/images/main/sect2-1.png" alt="">
                        </div>
                        <div class="text-cont">
                            <div>
                                <h2>Nuevas recompensas MOBLE Family</h2>
                            </div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="offer-badge sect2">
                            Precio MOBLE Family
                        </div>
                        <div class="img-div">
                            <img src="../../assets/images/main/sect2-2.png" alt="">
                        </div>
                        <div class="text-cont">
                            <div>
                                <h2>4X3 en una selección de accesorios</h2>
                            </div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="offer-badge sect2">
                            Precio MOBLE Family
                        </div>
                        <div class="img-div">
                            <img src="../../assets/images/main/sect2-3.png" alt="">
                        </div>
                        <div class="text-cont">
                            <div>
                                <h2>-10% extra en artículos de nuestro Outlet</h2>
                            </div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="offer-badge sect2">
                            Precio MOBLE Family
                        </div>
                        <div class="img-div">
                            <img src="../../assets/images/main/sect2-4.png" alt="">
                        </div>
                        <div class="text-cont">
                            <div>
                                <h2>30% extra vendiéndonos tus muebles MOBLE</h2>
                            </div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="last-li">
                    <a href="">
                        <div class="offer-badge sect2">
                            Precio MOBLE Family
                        </div>
                        <div class="img-div">
                            <img src="../../assets/images/main/sect2-5.png" alt="">
                        </div>
                        <div class="text-cont">
                            <div>
                                <h2>-20% en la bolsa de nuggets</h2>
                            </div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>