<header>
    <div id="topbar">
        <div id="topbar-cont">
            <div id="lang-cont">
                <a class="topbar-link" (click)="changeLanguage('es')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q83 0 155.5 31.5t127 86q54.5 54.5 86 127T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Zm0-82q26-36 45-75t31-83H404q12 44 31 83t45 75Zm-104-16q-18-33-31.5-68.5T322-320H204q29 50 72.5 87t99.5 55Zm208 0q56-18 99.5-55t72.5-87H638q-9 38-22.5 73.5T584-178ZM170-400h136q-3-20-4.5-39.5T300-480q0-21 1.5-40.5T306-560H170q-5 20-7.5 39.5T160-480q0 21 2.5 40.5T170-400Zm216 0h188q3-20 4.5-39.5T580-480q0-21-1.5-40.5T574-560H386q-3 20-4.5 39.5T380-480q0 21 1.5 40.5T386-400Zm268 0h136q5-20 7.5-39.5T800-480q0-21-2.5-40.5T790-560H654q3 20 4.5 39.5T660-480q0 21-1.5 40.5T654-400Zm-16-240h118q-29-50-72.5-87T584-782q18 33 31.5 68.5T638-640Zm-234 0h152q-12-44-31-83t-45-75q-26 36-45 75t-31 83Zm-200 0h118q9-38 22.5-73.5T376-782q-56 18-99.5 55T204-640Z"/></svg>
                    <span>ES<span>español</span></span>
                </a>
            </div>
            <div id="offer-cont">
                <a class="topbar-link" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-160q-50 0-85-35t-35-85H40v-440q0-33 23.5-56.5T120-800h560v160h120l120 160v200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H360q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T280-280q0-17-11.5-28.5T240-320q-17 0-28.5 11.5T200-280q0 17 11.5 28.5T240-240ZM120-360h32q17-18 39-29t49-11q27 0 49 11t39 29h272v-360H120v360Zm600 120q17 0 28.5-11.5T760-280q0-17-11.5-28.5T720-320q-17 0-28.5 11.5T680-280q0 17 11.5 28.5T720-240Zm-40-200h170l-90-120h-80v120ZM360-540Z"/></svg>
                    <span>ご注文を無料で自宅にお届け*</span>
                </a>
            </div>
            <div id="selector-cont">
                <div id="code-selec">
                    <a class="topbar-link" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-160q-50 0-85-35t-35-85H40v-440q0-33 23.5-56.5T120-800h560v160h120l120 160v200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H360q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T280-280q0-17-11.5-28.5T240-320q-17 0-28.5 11.5T200-280q0 17 11.5 28.5T240-240ZM120-360h32q17-18 39-29t49-11q27 0 49 11t39 29h272v-360H120v360Zm600 120q17 0 28.5-11.5T760-280q0-17-11.5-28.5T720-320q-17 0-28.5 11.5T680-280q0 17 11.5 28.5T720-240Zm-40-200h170l-90-120h-80v120ZM360-540Z"/></svg>
                        <span>郵便番号を入力</span>
                    </a>
                </div>
                <div id="shop-selec">
                    <a class="topbar-link" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M160-720v-80h640v80H160Zm0 560v-240h-40v-80l40-200h640l40 200v80h-40v240h-80v-240H560v240H160Zm80-80h240v-160H240v160Zm-38-240h556-556Zm0 0h556l-24-120H226l-24 120Z"/></svg>
                        <span>店舗を選択</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="navigation">
        <div id="logo">
            <a id="logo-link" href="">
                <img src="../../assets/images/logo.png" alt="">
            </a>
        </div>
        <div id="searchbar">
            <div id="bar-cont">
                <form action="">
                    <svg id="glass" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                    <input type="text" placeholder="何をお探しですか？">
                </form>
            </div>
        </div>
        <ul id="extras">
            <li id="user">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                    <span>ログイン</span>
                </a>
            </li>
            <li id="favs">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg>
                </a>
            </li>
            <li id="cart">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M221-120q-27 0-48-16.5T144-179L42-549q-5-19 6.5-35T80-600h190l176-262q5-8 14-13t19-5q10 0 19 5t14 13l176 262h192q20 0 31.5 16t6.5 35L816-179q-8 26-29 42.5T739-120H221Zm-1-80h520l88-320H132l88 320Zm260-80q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM367-600h225L479-768 367-600Zm113 240Z"/></svg>
                </a>
            </li>
            <li id="menu">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
                </a>
            </li>
        </ul>
    </div>

    <div id="header-menu">
        <div id="menu-selec">
            <div id="menu-btns">
                <button class="menu-btn" id="m-1" (click)="setActive('m-1')" [ngClass]="{'active': activeButton === 'm-1'}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#767676"><path d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z"/></svg>
                    <span>製品</span>
                </button>
                <button class="menu-btn" id="m-2" (click)="setActive('m-2')" [ngClass]="{'active': activeButton === 'm-2'}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#767676"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                    <span>滞在</span>
                </button>
                <button class="menu-btn" id="m-3" (click)="setActive('m-3')" [ngClass]="{'active': activeButton === 'm-3'}">
                    <span>MOBLEで今</span>
                </button>
                <button class="menu-btn" id="m-4" (click)="setActive('m-4')" [ngClass]="{'active': activeButton === 'm-4'}">
                    <span>特別価格</span>
                </button>
                <button class="menu-btn" id="m-5" (click)="setActive('m-5')" [ngClass]="{'active': activeButton === 'm-5'}">
                    <span>インスピレーションと計画</span>
                </button>
                <button class="menu-btn" id="m-6" (click)="setActive('m-6')" [ngClass]="{'active': activeButton === 'm-6'}">
                    <span>サービス</span>
                </button>
            </div>
            <div id="separator"></div>
        </div>
        <div id="menu-classes">
            <div class="prod-disp" *ngIf="activeButton === 'm-1'" id="p-1">
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/novedades.png" alt="">
                        <span>新商品</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/almacenaje.png" alt="">
                        <span>収納と整理整頓</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/camas.png" alt="">
                        <span>ベッドとマットレス</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/textiles.png" alt="">
                        <span>家庭用繊維</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/muebles.png" alt="">
                        <span>家具</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/bebes.png" alt="">
                        <span>赤ちゃん、子供、女の子</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/decoracion.png" alt="">
                        <span>装飾と鏡</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/iluminacion.png" alt="">
                        <span>照明</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/cocina.png" alt="">
                        <span>キッチンと家電</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/lavabo.png" alt="">
                        <span>バスルームの家具とアクセサリー</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/colada.png" alt="">
                        <span>洗濯と掃除</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/plantas.png" alt="">
                        <span>鉢植え、植物、園芸</span>
                    </a>
                </div>
            </div>
            <div class="prod-disp" *ngIf="activeButton === 'm-2'" id="p-2">
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/dormitorio.png" alt="">
                        <span>寝室</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/juvenil.png" alt="">
                        <span>子供部屋とジュニアルーム</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/salon.png" alt="">
                        <span>リビングルーム</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/comedor.png" alt="">
                        <span>ダイニングルーム</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/cocina2.png" alt="">
                        <span>キッチン</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/banyo.png" alt="">
                        <span>バスルーム</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/recibidor.png" alt="">
                        <span>玄関</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/trabajo.png" alt="">
                        <span>仕事と勉強のスペース</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/terraza.png" alt="">
                        <span>庭、テラス、バルコニー</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/lavadero.png" alt="">
                        <span>ランドリー</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/trastero.png" alt="">
                        <span>物置</span>
                    </a>
                </div>
                <div class="category">
                    <a href="">
                        <img src="../../assets/images/menu/empresas.png" alt="">
                        <span>企業向けの家具</span>
                    </a>
                </div>
            </div>
            <div class="prod-disp" *ngIf="activeButton === 'm-3'" id="p-3">
                <nav class="menu-nav">
                    <ul class="section">
                        <li class="section-link">
                            <a class="main-link" href="">
                                新着情報
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                企業向けMOBLE
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                循環市場
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                MOBLEで食事
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">新着情報</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                新製品
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                贈り物のアイデア
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                MOBLEのライブ
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">コレクション</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                TRES CREUS コレクション
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                他のコレクション
                            </a>
                        </li>
                    </ul>
                    <a id="box-1" class="section box-message" href="">
                        <h3>新しいTRES CREUSコレクションを発見</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    </a>
                </nav>
            </div>
            <div class="prod-disp" *ngIf="activeButton === 'm-4'" id="p-4">
                <nav class="menu-nav">
                    <ul class="section">
                        <li class="section-link">
                            <a class="main-link" href="">
                                特別価格
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                価格を下げました
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                手頃な価格のアクセサリー
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">オファー</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                MOBLEファミリーのオファー
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                企業向けMOBLEオファー
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                MOBLEファミリーの報酬
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">私たちの最良の価格</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                価格を下げました
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                最安値
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                アウトレット
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">サーキュラー・マーケット：中古品</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                中古家具をチェック
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                中古家具を販売
                            </a>
                        </li>
                    </ul>
                    <a id="box-2" class="section box-message" href="">
                        <h3>中古家具店</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    </a>
                </nav>
            </div>
            <div class="prod-disp" *ngIf="activeButton === 'm-5'" id="p-5">
                <nav class="menu-nav">
                    <ul class="section">
                        <li class="section-link">
                            <a class="main-link" href="">
                                アイデア
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                計画サービス
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                オンラインプランナー
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">インスピレーションとアイデア</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                部屋別インスピレーション
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                企業向けインスピレーション
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                持続可能な生活
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">3Dプランナー</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                家具の配置を作成
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                完全な部屋をデザイン
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                MOBLE Creativeでカスタマイズした空間をデザイン
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">デザインサービス</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                完全な部屋の計画
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                企業向けの計画
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                自宅のインテリアデザイン
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                企業向けのインテリアデザイン
                            </a>
                        </li>
                    </ul>
                    <a id="box-3" class="section box-message" href="">
                        <h3>MOBLE Creativeであなたの部屋をデザイン</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    </a>
                </nav>
            </div>
            <div class="prod-disp" *ngIf="activeButton === 'm-6'" id="p-6">
                <nav class="menu-nav">
                    <ul class="section">
                        <li class="section-link">
                            <a class="main-link" href="">
                                私たちのすべてのサービス
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                MOBLE Home アプリ
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                MOBLE Preownedでの購入と販売
                            </a>
                        </li>
                        <li class="section-link">
                            <a class="main-link" href="">
                                支払いと資金調達
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">配送と組み立て</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                注文の追跡
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                自宅配送
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                クリック＆コレクト
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                組み立て
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">その他の購入方法</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                電話で購入
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                MOBLEアプリ
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                サーキュラーエコノミー: 中古品
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                MOBLE Preowned: 個人間での購入と販売
                            </a>
                        </li>
                    </ul>
                    <ul class="section">
                        <li class="section-link">
                            <span class="link-title">MOBLE for Business（企業向け）</span>
                        </li>
                        <li class="section-link">
                            <a href="">
                                業界別インスピレーション
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                企業向け限定オファー
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                企業向けインテリアデザイン
                            </a>
                        </li>
                        <li class="section-link">
                            <a href="">
                                企業向けサービス
                            </a>
                        </li>
                    </ul>
                    <a id="box-4" class="section box-message" href="">
                        <h3>MOBLE for Business（企業向け）: 利点を発見する</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
                    </a>                    
                </nav>
            </div>
        </div>
    </div>
</header>